<header role="banner" class="masthead navigation">
  <div class="navigation-wrapper">
    <h1>{{site-main-title}}</h1>
    <p><span class="visually-hidden">Subtitle: </span>{{site-sub-title}}</p>
    <nav role="navigation">
      <ul class="navigation-menu show">
        {{#nav-categories}}
          <li class="nav-link"><a href="{{category-uri}}">{{category-name}}</a></li>
        {{/nav-categories}}
        <li><a href="/tags/">Tags</a></li>
        <li><a href="{{github}}">GitHub</a></li>
        <li><a href="/rss.xml">RSS</a></li>
      </ul>
    </nav>
  </div>
</header>
