// Colors (Gruvbox Light Theme)
$aqua: 689d6a;
$blue: #458588;
$cream: #f9f5d7;
$dark-gray: #3c3836;
$medium-gray: #7c6f64;
$light-gray: #928374;
$green: #98971a;
$orange: #d65d0e;
$purple: #b16286;
$red: #cc241d;
$yellow: #d79921;

// Font Colors
$action-color: $green;

// Border
$base-border: 3px dashed $medium-gray;

// Background Colors
$base-background-color: $cream;

// Grids
$small-grid:(
  colums: 1,
  gutter: 0px,
  media: 720px,
);
