$blue: #406098;
$light-blue: lighten($blue, 50%);
$cream: #f0f0f0;
$dark-gray: #2a2a2a;
$medium-gray: #545454;
$light-gray: #696969;
$green: #005500;
$orange: #aa2e00;
$purple: #b500b5;
$red: #aa0000;
$yellow: #726012;

// Font Colors
$action-color: $green;

// Border
$base-border: 3px dashed $medium-gray;

// Background Colors
$base-background-color: $cream;
