@import "bourbon/bourbon";
@import "base/base";
@import "variables";

[href="#main"] {
  position: absolute;
  top: 0;
  right: 100%;
}

[href="#main"]:focus {
  right: auto;
}

a {
  text-decoration: none;
}

body {
  background-color: $base-background-color;
  color: $dark-gray;
}

blockquote {
  border-left: .5rem solid $blue;
  color: $light-gray;
  font-style: italic;
  font-weight: bold;
  padding: 0 0 0 1rem;
  margin: 0 1rem 1rem 0rem;
}

h1, h2, h3, h4, h5, {
  padding-top: 1.25rem;
}

header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

html {
  font-size: 100%;
}

@media (min-width: 120em) {
  html {
    font-size: 150%
  }
}

main {
  max-width: 60rem;
  margin: auto;
}

p {
  margin: 1.5rem 0;
  font-size: 1rem;
  line-height: 1.5;
}

.navigation {
  border-bottom: $base-border;

  ul {
    display: block;

    li {
      display: inline;
      font-weight: bold;
      margin-right: 1em;
    }
  }
}

.post {
  border-bottom: $base-border;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

pre.prettyprinted {
  overflow: auto;
  padding: 1em;
}
